.wrapper {
  padding: 9px 16px;
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.1);
  }
}
.info {
  flex: 1;
}
.title {
  font-size: 1.6rem;
  font-weight: 560;
}
.author {
  font-size: 1.4rem;
}
