.wrapper {
  --header-top-spacer: 12px;

  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--primary-color);
  padding: 0 4px;
}

.inner {
  height: 100%;
  background-color: var(--primary-color);
  align-items: center;
}

.header-trademark {
  text-decoration: none;
  font-size: var(--secondary-font-size);
  font-weight: 560;
  line-height: var(--default-layout-header-height);
  color: var(--secondary-color);
  padding: 12.5px 52px;
}

.header-search {
  position: relative;
  top: 19px;
  display: flex;

  input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #e4e6eb;
    background-color: #0b1822;
    background-clip: padding-box;
    border: 1px solid #0b1822;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 0.5rem;
  }

  input:focus {
    border: 2px solid;
    border-color: var(--primary-btn-color);
    outline: 0;
  }

  .btn-search {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e4e6eb;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid var(--primary-btn-color);
    border-radius: 0.375rem;
    background-color: #0b1822;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-search:hover {
    color: #fff;
    background-color: var(--primary-btn-color);
    border-color: var(--primary-btn-color);
  }
}

.input-search,
.search-result {
  width: 840px;
}

.search-title {
  font-size: var(--primary-font-size);
  font-weight: 560;
  padding: 5px 8px;
}

.header-notification {
  color: var(--secondary-color);
  width: calc(var(--default-layout-header-height) - 18px);
  height: calc(var(--default-layout-header-height) - 18px);
  font-size: calc(var(--secondary-font-size) + 0px);
  padding: var(--header-top-spacer) 8px;
  border-radius: 50%;
  margin-top: calc(var(--header-top-spacer) - 4px);
  margin-left: 60%;
  background-color: var(--primary-color);
  position: relative;
  border-color: transparent;
}

.header-notification:hover {
  cursor: pointer;
  background-color: rgba(226, 226, 244, 0.1);
}

.header-notification-icon {
  position: absolute;
  top: 12px;
  left: 15px;
}

.header-more {
  color: var(--secondary-color);
  font-size: var(--primary-font-size);
  line-height: var(--default-layout-header-height);
  height: 100%;
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: var(--header-top-spacer);
    left: -8px;
    width: 1px;
    height: calc(
      var(--default-layout-header-height) - var(--header-top-spacer) * 2
    );
    background-color: #fff;
  }

  .header-more-title {
    width: 60%;
  }

  .fa-chevron-down {
    padding-top: calc(var(--default-layout-header-height) / 2 - 10px);
  }
}

.header-more:hover {
  cursor: pointer;
}
