.wrapper {
  background-color: #0d1117;
  color: var(--secondary-color);
  height: 1000px;
}

.page-title {
  font-size: var(--secondary-font-size);
  padding-left: 16px;
}

.add-rack-btn {
  margin-top: 16px;
}
