.wrapper {
  background-color: var(--background-black-color);
  color: var(--secondary-color);
  height: 1000px;
  .rack-item {
    a {
      color: var(--secondary-color);
      display: block;
      min-width: 100%;
      min-height: 41px;
    }
  }

  margin-top: var(--default-layout-header-height);
}

.page-title {
  font-size: var(--secondary-font-size);
  padding-left: 16px;
}

.add-rack-btn {
  margin-top: 16px;
}

.rack-table {
  padding: 24px;
  font-size: var(--primary-font-size);
}

.rack-item:hover {
  cursor: pointer;
}
