<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'fonts/fontawesome-free-6.4.0-web/css/all.min.css' %}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row header">
        <div class="header-trademark col-sm-2">
          <i class="fa-solid fa-computer"></i>
          iPAC Lab
        </div>
        <div class="header-search col-sm-7"></div>
        <div class="header-notification col-sm-1"></div>
        <div class="header-more col-sm-2">
          <div class="header-more-title">namt93</div>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="nav flex-column">
            <li><a href="">Account</a></li>
            <li>
              <a href="">
                Appearance
                <i class="fa-solid fa-chevron-down"></i>
              </a>
              <ul>
                <li><a>Dark mode</a></li>
                <li><a>Light mode</a></li>
              </ul>
            </li>
            <li><a href="/help">Help</a></li>
            <li><a href="/setting">Setting</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="bs-sliderbar">
            <ul class="nav flex-column">
              <li>
                <a href="/">
                  <i class="fa-solid fa-chart-area"></i>
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/documents">
                  <i class="fa-solid fa-table"></i>
                  Racks
                </a>
              </li>
              <li>
                <a href="/members">
                  <i class="fa-solid fa-user-group"></i>
                  Members
                </a>
              </li>
              <li>
                <a href="/help">
                  <i class="fa-solid fa-circle-question"></i>
                  Help</a
                >
              </li>
              <li>
                <a href="/setting">
                  <i class="fa-solid fa-gear"></i>
                  Setting</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="container-fluid">
            Nội dung {% block content %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>

  <script></script>
</html>
