@import "normalize.css";

:root {
  --primary-color: #12293b;
  --secondary-color: #e6edf3;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
