@import "normalize.css";

:root {
  --primary-color: #12293b;
  --secondary-color: #e6edf3;

  // Font size
  --primary-font-size: 20px;
  --secondary-font-size: 26px;

  // DefaultLayout
  --default-layout-header-height: 72px;

  // Button
  --primary-btn-color: #0d6efd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
