@import "normalize.css";

:root {
  --primary-color: #12293b;
  --secondary-color: #e6edf3;
  --green-color: #238636;
  --background-black-color: #0d1117;
  --background-black-color-3: #201e1e;
  --background-black-color-2: #212529;
  --grey-color: rgb(33, 37, 41);
  --black-red-color: rgb(86, 13, 13);
  --white-blue-color: rgb(6, 127, 248);

  // Font size
  --primary-font-size: 20px;
  --secondary-font-size: 26px;

  // DefaultLayout
  --default-layout-header-height: 72px;

  // Button
  --primary-btn-color: #0d6efd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

// Reset CSS
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
}
