.wrapper {
}

.rack-config-input {
  width: 100%;
  color: #e4e6eb;
  background-color: #282828;
  padding: 0.3rem 0.75rem;
  font-size: 2rem;
  border-radius: 0.375rem;
}

.search-empty {
  padding: 9px 16px;
}
