.wrapper {
  font-size: var(--primary-font-size);
  color: var(--secondary-color);
  background-color: var(--background-black-color);
  margin-top: var(--default-layout-header-height);
  height: 1400px;
}

// Rack Information
.rack-information {
  padding-top: 12px;
}

.status--title {
  font-size: 18px;
  font-weight: 560;
  padding-top: 20px;
  margin-bottom: 8px;
}

.property-container {
  display: flex;
  flex-wrap: wrap;
  // margin-top: 12px;
}

.grid-item {
  height: 204px;
  width: 284px;
  background-color: var(--background-black-color-2);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 4px 10px;
  display: flex;
}

.property-content {
  width: 100%;
  padding: 10px 10px;
}

.property-name {
  display: flex;
  position: relative;
}

.property-title {
  width: 116px;
  font-weight: 560;
}

.property-icon {
  height: 24px;
  width: 24px;
  background-color: blue;
  color: var(--white-color);
  border-radius: 25%;
  align-items: center;
  justify-content: center;
  margin-left: 96px;
  display: flex;
}

.property-display {
  margin-top: 62px;
}

.property-value {
  width: 100%;
  height: 24px;
  padding-left: 96px;
  padding-top: 28px;

  h2 {
    font-size: calc(var(--secondary-font-size) + 4px);
  }
}

.property-state {
  position: relative;
  left: -2px;
}

// Smoke
.smoke-value {
  padding-left: 18px;
}

// Displacement
.displacement-display {
  margin-top: 90px;
}

// User
.users-property-value {
  padding-left: 116px;
  padding-top: 28px;

  h2 {
    font-size: calc(var(--secondary-font-size) + 4px);
  }
}

.users-property-state {
  font-size: var(--secondary-font-size);
  position: relative;
  left: -28px;
}

// Others
.others-property-display {
  margin-top: 40px;
}

.operation-actions {
  // padding-left: 720px;
  display: flex;
}

.operation-actions-item {
  color: var(--secondary-color);
  font-size: 16px;
  padding: 6px 8px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #282828;

  display: flex;
  cursor: pointer;

  .caret-down-icon {
    padding-top: 4px;
  }
}

.operation-actions-item-title {
  margin-right: 4px;
  min-width: 122px;
}

.start-operation-btn {
  margin-left: 8px;
}

// Breakdown Status
.breakdown-status-table {
}

.breakdown-status-chart {
  margin-left: 64px;
  height: 450px;
  background-color: var(--background-black-color-2);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.breakdown-status--title {
  font-size: var(--primary-font-size);
  font-weight: 560;
  padding-top: 24px;
  padding-left: 20px;
  margin-bottom: 4px;
}

.breakdown-doughnut-chart {
  margin-left: 28px;
  margin-top: 48px;
  width: 320px;
  height: 320px;
}

.export-operation-btn {
  margin-left: 8px;
  margin-top: 4px;
}
